<div class= "container">
  <header class= "jumbotron">
    <h1>Ask Me Anything</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
    {{#link-to 'admin'}}Are you an admin of this page? Click here!{{/link-to}}
  </footer>
</div>
