<p>Ask Me Anything would love to help you find that answer to lifes toughest questions.</p>

<p>Post a question today!</p>

<p>
  Or if you have a question for us at AMA, please contact...
  askama@gmail.com
</p>
