{{onequestion-detail question=model}}
<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Want to share your answer?</h2>
  </div>
</div>
{{new-answer saveAnswer="saveAnswer" question=model}}
